{%extends 'base.html'%}
<!DOCTYPE html>
<html>
<head>
{%block head%}
<meta name="viewport" content="width=device-width, initial-scale=1">
{%endblock%}
</head>
<body>
{%block body%}
<div class="about-section">
  <h1>Sobre nós</h1>
  <p>Somos uma microempreendedora no ramo da moda, produzindo as mais belas bolsas de crochê</p>
</div>

<h2 style="text-align:center">Nosso time</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
      <img src="static/yuriok.png" alt="Yuri" style="width:100%">
        <h2>Yuri Dutra</h2>
        <p class="title">CCO/Programador/Designer</p>
        <p>dutray50@gmail.com</p>
        <p><a target="_blank" href="https://wa.me/5554999367869"><button class="button">Contato</button></a></p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/dezaok.png" alt="Andreza" style="width:100%">
      <div class="container">
        <h2>Andreza Dutra</h2>
        <p class="title">CEO/Fundadora</p>
        <p>andrezadutra@hotmail.com.br</p>
        <p><a target="_blank" href="https://wa.me/5554999367869"><button class="button">Contato</button></a></p>
      </div>
    </div>
  </div>


{%endblock%}
</body>
</html>
