<!DOCTYPE html>
<html>
<head>
    {%block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    {%endblock%}
</head>
<body>
{%block body%}
    <div class="footer-basic">
        <footer>
            <div class="social"><a target="_blank" href="https://www.instagram.com/dezabolsas/"><i class="icon ion-social-instagram"></i></a><a target="_blank" href="https://wa.me/5554999367869"><i class="icon ion-social-whatsapp"></i></a><a target="_blank" href="https://www.facebook.com/profile.php?id=100090979816564&mibextid=ZbWKwL"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/produtos">Produtos</a></li>
                <li class="list-inline-item"><a href="/sobre">Sobre</a></li>
                <li class="list-inline-item"><a href="/politicaprivacidade">Política de privacidade</a></li>
                <li class="list-inline-item"><a href="/termos">Termos</a></li>
            </ul>
            <p class="copyright">Deza, um sonho de bolsa ® 2023</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{%endblock%}
</body>

</html>