<!DOCTYPE html>

<html>
{%block head%}

{%endblock%}
<head>
  <link rel="icon" type="image.jpg" href="static/DeZa_um_sonho_de_bolsa_pages-to-jpg-0001.jpg">
  <link rel="stylesheet" href="static/estilo.css">

  <link rel="stylesheet" type="text/css" href="navbar.css">

  <meta name="viewport" content="width=device-width">

</head>

<body>

  <header>

    <div class="container">

      <div id="brand-name">

        <span><h1><a class="highlight" href="/">Deza</a><a class="downlight hover23" href="/">Bolsas®</a></h1></span>

      </div>

      <nav>

        <ul>

          <li><a href="/">Home</a></li>

          <li><a href="/produtos">Produtos</a></li>

          <li><a href="/sobre">Sobre nós</a></li>

          <li><a href="/SAC">SAC</a></li>

          <li><a href="/social">Social</a></li>

        </ul>

      </nav>

    </div>

  </header>

</body>

</html>